<html>
<body>
<ul>
    <li>Environment: {{ app_env }}</li>
    <li>Hostname: {{ inventory_hostname }}</li>
    <li>Primary IP: {{ ansible_facts['default_ipv4']['address'] }}</li>
    <li>Deployment timestamp: {{ ansible_facts['date_time']['date'] }}</li>
</ul>
</body>
</html>